body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f7f7;
}
.container {
  width: 300px;
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: white;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
button {
  margin-left: 5px;
}
